# Node.js dependencies
node_modules/
package-lock.json

# Python virtual environment
venv/
__pycache__/

# .NET Core binaries
bin/
obj/

# Flutter build files
build/

# Logs and system files
*.log
*.DS_Store
